*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFFFCC;
}

#wrapper{
    width: 480px;
    height:480px;
    margin:30px auto 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #888888;
    background-image: -webkit-linear-gradient(top,#3399CC,#9999CC);
    padding: 10px;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height:100%;
}

ul>li{
    width: 100px;
    height: 100px;
    background-color: #333333;
    text-align: center;
    border-radius: 10px;
    list-style: none;
}

/*
*style for the button
*/
#bwrapper{
    text-align: center;
    margin:25px;
}

.restart{
    width: 140px;
    height: 50px;
    background-color:#eb3f2f;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #b31800;
    border: none;
    outline: none;
}

.restart:active{
    box-shadow: inset 1px 1px 15px #DC143C;
    border: none;
}

.fontstyle{
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}
