*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFFFCC;
}

#top{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
#top>h1{
    text-align: center;
    color: #696969;
}

#top>span{
    padding: 10px 2px 1px;
    font-size: 21px;
}

#top>#timer{
    margin-left: 20px;
    display: inline-block;
    width: 150px;
}

#top>#undo{
    margin-left: 90px;
}
#wrapper{
    width: 480px;
    height:480px;
    margin:10px auto 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #888888;
    background-image: -webkit-linear-gradient(top left,#7EC0EE,#9F79EE);
    padding: 10px;
}

#box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height:100%;
}

ul>li{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    list-style: none;
}

/*
*翻转类
 */
.b_overturn{
    background-color:#696969;
    text-align: center;
}

.a_overturn_1{
    padding-top: 40px;
    background-color: #ffe957;
    text-align: center;
}

.a_overturn_2{
    padding-top: 40px;
    background-color: #f29f3f;
    text-align: center;
}
.a_overturn_3{
    padding-top: 40px;
    background-color: #f2753f;
    text-align: center;
}
.a_overturn_4{
    padding-top: 40px;
    background-color: #8ec2d6;
    text-align: center;
}

.a_overturn_5{
    padding-top: 40px;
    background-color:#b31800;
    text-align: center;
}
.a_overturn_6{
    padding-top: 40px;
    background-color: #d9b316;
    text-align: center;
}
.a_overturn_7{
    padding-top: 40px;
    background-color:#83fcd8;
    text-align: center;
}

.a_overturn_8{
    padding-top: 40px;
    background-color:#21a675;
    text-align: center;
}

/*
*style for the button
*/


#bwrapper{
    text-align: center;
    margin:25px;
}

.restart{
    width: 140px;
    height: 50px;
    background-color:#eb3f2f;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #b31800;
    border: none;
    outline: none;
}

.restart:active{
    box-shadow: inset 1px 1px 15px #DC143C;
    border: none;
}

.fontstyle{
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}
